body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.center-column {
    width: 600px; /* Adjust as needed */
    padding: 2rem;
    box-sizing: border-box;
}

.ja {
    font-family: "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
}

.old-norse {
    font-family: "Source Code Pro", monospace;
}